@import "compass/css3";
body {
  background-color: #340468;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  perspective: 3.125vmin;
}
body::after {
  background-color: #340468;
  border-radius: 50%;
  box-shadow: 0 0 2.5vmin 2.5vmin #340468;
  content: "";
  height: 2.5vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2.5vmin;
}
.polygon {
  animation: 4s linear infinite polygon;
  left: 50%;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  transform: rotatex(90deg) rotatey(0) translatey(-25vmin);
}
@keyframes polygon {
  100% {
    transform: rotatex(90deg) rotatey(360deg) translatey(0);
  }
}
.side {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/231848/fractal-fire-sky-seamless-background.jpg);
  background-size: 16 *( 50vmin * tan(11.25deg) 25%;
  filter: hue-rotate(-10deg);
  height: 100vmin;
  position: absolute;
  transform-origin: 0;
  width: calc(50vmin * tan(11.25deg) + 1px);
}
.side:nth-child(1) {
  background-position: 50vmin * tan(11.25deg) * 1 * -1 0;
  transform: rotatey(22.5deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(2) {
  background-position: 50vmin * tan(11.25deg) * 2 * -1 0;
  transform: rotatey(45deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(3) {
  background-position: 50vmin * tan(11.25deg) * 3 * -1 0;
  transform: rotatey(67.5deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(4) {
  background-position: 50vmin * tan(11.25deg) * 4 * -1 0;
  transform: rotatey(90deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(5) {
  background-position: 50vmin * tan(11.25deg) * 5 * -1 0;
  transform: rotatey(112.5deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(6) {
  background-position: 50vmin * tan(11.25deg) * 6 * -1 0;
  transform: rotatey(135deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(7) {
  background-position: 50vmin * tan(11.25deg) * 7 * -1 0;
  transform: rotatey(157.5deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(8) {
  background-position: 50vmin * tan(11.25deg) * 8 * -1 0;
  transform: rotatey(180deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(9) {
  background-position: 50vmin * tan(11.25deg) * 9 * -1 0;
  transform: rotatey(202.5deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(10) {
  background-position: 50vmin * tan(11.25deg) * 10 * -1 0;
  transform: rotatey(225deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(11) {
  background-position: 50vmin * tan(11.25deg) * 11 * -1 0;
  transform: rotatey(247.5deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(12) {
  background-position: 50vmin * tan(11.25deg) * 12 * -1 0;
  transform: rotatey(270deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(13) {
  background-position: 50vmin * tan(11.25deg) * 13 * -1 0;
  transform: rotatey(292.5deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(14) {
  background-position: 50vmin * tan(11.25deg) * 14 * -1 0;
  transform: rotatey(315deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(15) {
  background-position: 50vmin * tan(11.25deg) * 15 * -1 0;
  transform: rotatey(337.5deg) translate3d(-50%, -50%, 25vmin);
}
.side:nth-child(16) {
  background-position: 50vmin * tan(11.25deg) * 16 * -1 0;
  transform: rotatey(360deg) translate3d(-50%, -50%, 25vmin);
}


nav.navBack > a::before {
  content: "Back to ";
}
nav.navBack > a {
  color: white;
}
nav.navBack > a {
  display: inline-block;
  position: fixed;
  top: 2px;
  left: 2px;
  z-index: 2;
  margin: 0;
  padding: 4px;
  border: solid 2px darkred;
  border-radius: 16px;
  background-color: darkred;
  color: white;
}
