<footer>
  <hr>
  <div style="display: flex; flex-direction: row">
    <div style="flex-grow: 1; text-align: center"><a href="/">Home</a></div>
    <div style="flex-grow: 1; text-align: center"><a href="/uni/">University</a></div>
    <div style="flex-grow: 1; text-align: center"><a href="/Cool_Resources/">Cool Resources</a></div>
    <div style="flex-grow: 1; text-align: center"><a href="/esgrima/">Fencing</a></div>
    <div style="flex-grow: 1; text-align: center"><a href="/blog/">Blog/Journal</a></div>
    <div style="flex-grow: 1; text-align: center"><a href="/fun/">fun</a></div>
    <div style="flex-grow: 1; text-align: center"><a href="old_website/index.html">Old website</a></div>
  </div>
  <h3>Giuliano Palazzi</h3>
</footer>
