<div class="left_panel">
  <h3>First subsection</h3>
  <ul>
    <li>
      <a href="/uni/">University</a>
    </li>
    <li><a href="/Cool_Resources/">Cool Resources</a></li>
    <li><a href="/esgrima/">Fencing</a></li>
    <li>sports</li>
    <li>projects</li>
    <li>languages</li>
    <li>personal library</li>
    <li>music</li>
    <li>movies</li>
    <li>travels</li>
    <li>board games</li>
    <li><a href="/blog/">Blog/Journal</a></li>
    <li><a href="/fun/">fun</a></li>
    <li>zet database</li>
    <li>personal hall of fame</li>
    <li><a href="old_website/index.html">Old website</a></li>
  </ul>
</div>
