@charset "UTF-8";
body {
  font-family: Arial, Arimo, "Liberation Sans", "Segoe UI Emoji",
    "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  margin-top: 41px;
  margin-bottom: 50px;
}
.column {
  width: 220px;
  padding-bottom: 40px;
  padding-left: 4px;
  margin: 0;
}
.column > ul,
.column > ol {
  margin-left: -16px;
  margin-top: 0;
}

.column > ul > li {
  margin-left: -16px;
  list-style-type: none;
  border-top: solid thin grey;
}

.column > ul > li > span {
  float: right;
}

main > div {
  margin: auto;
  width: 800px;
  display: block;
  overflow: auto;
}
.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.smol {
  border: solid 2.5px var(--foreground);
  border-radius: 2.5px;
}

h2,
h3 {
  text-align: center;
}
h4 {
  margin-bottom: 0;
}

.rightp {
  text-align: right;
  width: 250px;
  margin-right: 0;
  margin-left: auto;
}

#magistrale {
  padding-top: 50px;
}

nav.navBack > a::before {
  content: "Back to ";
}
nav.navBack > a {
  color: white;
}
nav.navBack > a {
  display: inline-block;
  position: fixed;
  top: 2px;
  left: 2px;
  z-index: 2;
  margin: 0;
  padding: 4px;
  border: solid 2px darkred;
  border-radius: 16px;
  background-color: darkred;
  color: white;
}
