.flip {transform: scale(-1, 1)}

#flip-toggle {
  position: fixed;
  top: 1em;
  right: calc(30px + 1.2em);
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 0px 0px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  z-index: 100;
}
