@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Arimo, "Liberation Sans", "Segoe UI Emoji",
    "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  margin-top: 41px;
  margin-bottom: 50px;
}

.left_panel {
  width: 200px;
  border-top: solid 2px grey;
  border-bottom: solid 5px grey;
  margin-top: 10px;
  padding-bottom: 40px;
  padding-left: 4px;
  /*border-radius:16px;*/
}

.left_panel > ul,
.left_panel > ol {
  margin-left: -16px;
}

.left_panel > ul > li {
  margin-left: -16px;
  list-style-type: none;
  border-top: solid thin grey;
}

.left_panel > ul > li > p {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: top;
}

.left_panel > ul > li > a {
  display: inline-block;
  vertical-align: top;
}

/* Full screen media query */
@media all and (min-width: 801px) {
  main {
    margin-left: 215px;
    }
    nav.navBack > a::before {
      content: "Back to ";
    }
    nav.navBack > a {
      color: white;
    }
    nav.navBack > a {
      display: inline-block;
      position: fixed;
      top: 2px;
      left: 2px;
      z-index: 2;
      margin: 0;
      padding: 4px;
      border: solid 2px darkred;
      border-radius: 16px;
      background-color: darkred;
      color: white;
    }
  footer {
    margin-left: 215px;
  }
  .left_panel {
    position: absolute;
    top: 41px;
    left: 2px;
  }
}

h1 > span {
  float: right;
}

h3 {
margin-bottom: 0;
}

ul {
margin-top: 0;
}

nav.navBack > a {
  display: inline-block;
  position: fixed;
  top: 2px;
  left: 2px;
  z-index: 2;
  margin: 0;
  padding: 4px;
  border: solid 2px darkred;
  border-radius: 16px;
  background-color: darkred;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

nav.navBack > a::before {
  content: "Back to ";
}

body ::-webkit-scrollbar {
-webkit-appearance: none;
width: 10px
height: 10px
}

body ::-webkit-scrollbar-thumb {
cursor: pointer;
border-radius: 5px;
background: var(--scrollbar-thumb-clr);
transition: color 0.2s ease;
}

body ::-webkit-scrollbar-track {
border-radius: 2px;
background: var(--scrollbar-track-clr);
}
.bach {
width:3%;
transition: .5s;
}
.bach > p > em {
font-size: 0.5vw;
transition: font-size .5s;
}

.bach:hover {
width: 80%;
}
.bach:hover > p > em {
font-size: 5vw;
}
