img {
width: 70%;
display: block;
margin-left: auto;
margin-right: auto;
}

h1 {
margin: 0 0 14px 0;
font-size: 2rem;
display: block;
font-weight: 700;
padding: 0;
}

hr {
margin: 8px 0 8px 0;
display: block;
border-width: 1px;
}
.segment {
position: relative;
width: 725px;
}

.sidebar {
position: fixed;
left: 0;
height: 90%;
width: calc(50% - 370px);
top: 3em;
}

.contents {
position: relative;
right: 0;
height: 100%;
overflow-y: auto;
}

div.contents > nav > div > ul {
margin-top: 0;
}

.toc {
position: fixed;
top: 3em;
right: 0;
height: 90%;
width: calc(50% - 355px);
}

div.cnote > details > summary {
font-size: 16px;
transition: font-size .3s;
}

div.cnote > details[open] > summary {
font-size: 2em;
font-weight: bold;
}

/* Note block styles */
div.note-block {
background: var(--note-block-bg-clr);
border-left: 5px solid #e74c3c;
margin: 1.5em 10px;
padding: 0.5em 10px;
}
div.note-block strong{
color: #e74c3c;
}

.button {
background: var(--foreground);
color: var(--background);
border-radius: 5px;
cursor: pointer;
display: inline-block;
text-align: center;
}

summary.button {
padding: 5px 1em 5px 1em;
}
summary.button > p {
margin: 0;
}
summary.button + p {
margin-left: 2em;
}
