---
layout: basic
backlink: /uni/
backlinktitle: University Page
---
<h1>{{ page.title }}
  {% if page.course-code %}
   - {{ page.course-code }}
  {% endif %}
  {% if page.credits %}
  <span>({{ page.credits }})</span>
  {% endif %}
</h1>
<h2>
  Professor:
  {% if page.professor-link %}
  <a
    href="{{ page.professor-link }}"
    target="_blank"
    >{{ page.professor }}</a
  >
  {% else %}
    {{ page.professor }}
  {% endif %}
</h2>
{% for file in site.pages %}
  {% if file.url contains page.dir and file.path contains "syllabus" %}
    <h3><a href="syllabus">Syllabus</a></h3>
    {% break %}
  {% endif %}
{% endfor %}

{{ content }}

{% for file in site.pages %}
  {% if file.path contains ".md" and file.url contains page.dir and file.path contains "/notes/" %}
    {% assign hasnotes = true %}
    {% break %}
  {% endif %}
{% endfor %}
{% for file in site.pages %}
  {% if file.path contains ".md" and file.url contains page.dir and file.path contains "/practice/" %}
    {% assign haspractice = true %}
    {% break %}
  {% endif %}
{% endfor %}
{% if hasnotes %}
  <div class="left_panel">
    <h3>Notes</h3>
    <ul>
    {% assign i = 0 %}
    {% for file in site.pages %}
      {% if file.path contains ".md" and file.url contains page.dir and file.path contains "/notes/" %}
        {% unless file.path contains "allnotes" %}
          {% comment %}<li><a href="{{file.url}}">{{file.name | remove: ".md" }}</a></li> {% endcomment %}
          {% assign i = i | plus: 1 %}
          <li><a href="{{file.url}}">{{i}}. {{file.title}}</a></li>
        {% endunless %}
      {% endif %}
    {% endfor %}

    </ul>
  {% if i > 1 %}
      <h3>
        <a href="./notes/allnotes">All Notes</a>
      </h3>
  {% endif %}

  {% comment %}
  {% for file in site.pages %}
    {% if file.url contains page.dir and file.path contains "/notes/allnotes.md" %}
      <script>
	const blob = new Blob(["---\nlayout: allnotes\ntitle: All Notes\n---"], { type: 'text/plain' });
        saveAs(blob, "./notes/allnotes.md");
      </script>
      <h3>
        <a href="{{file.url}}">All Notes</a>
      </h3>
      {% break %}
    {% endif %}
  {% endfor %}
  {% endcomment %}

  {% if haspractice %}
    <h3>Practice Notes</h3>
    <ul>
    {% for file in site.pages %}
      {% if file.path contains ".md" and file.url contains page.dir and file.path contains "/practice/" %}
        <li><a href="{{file.url}}">{{file.name | remove: ".md" }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
  </div>
{% endif %}
